{% extends "base.html" %}

{% block content %}

<main class="main main--about">
    <p>
        Hey, I'm Or! a junior developer with a passion for technology and a strong desire to kickstart my career.
        I am excited to share my skills and potential, so please allow me to introduce myself.
    </p>
    <p>
        I will soon be completing my Bachelor's degree in Information Systems with a specialization in Cybersecurity from
        Tel Aviv-Yafo Academic College. I am highly motivated and have a strong commitment to self-learning. I see
        challenges as opportunities and failures as turning points. My goal is to deliver high-quality work and
        contribute in a valuable way to any team. During my studies, I discovered my passion for the world of
        programming, which led me to take additional courses and complete various projects.
    </p>
    <p>
        I am currently seeking my first job in the programming field, with a focus on backend positions or full-stack. However, I am
        also open to other opportunities in development, automation, or cybersecurity.
    </p>
</main>
{% endblock %}