{% extends "base.html" %} 

{% block content %} 
<main class="main main content">
    <dl>
        <div class="contact">
            <dt>Email: </dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:oreshed2580@gmail.com">
                    oreshed2580@gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub: </dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/Oresh25">
                    @Oresh25
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>LinkedIn: </dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/or-eshed-176113219/">
                    Or Eshed
                </a>
            </dd>
        </div>
    </dl>
</main>

{% endblock %}