{% extends "base.html" %} 


{% block content %} 
<main class="main main--home">
    <section class="projects">
        
            <a class="u-bare-link" href="project_REST-API.html">
               <article class="project-card">
                    <img class="project-card__image" 
                        src="/static/img/REST-hero.jpg" 
                        alt=" hero image"
                    />
                    <header class="project-card__meta">
                        <ul class="categories">
                           
                                <li class="categories__tag"></li>
                            
                        </ul>

                        <h2 class="project-card__name"></h2>
                    </header>
               </article> 
            </a>
            <a class="u-bare-link" href="project_MicroBlog.html">
                <article class="project-card">
                     <img class="project-card__image" 
                         src="/static/img/microblog.JPG" 
                         alt=" hero image"
                     />
                     <header class="project-card__meta">
                         <ul class="categories">
                              
                                 <li class="categories__tag"></li>
                             
                         </ul>
 
                         <h2 class="project-card__name"></h2>
                     </header>
                </article> 
             </a>
             <a class="u-bare-link" href="project_Cocktail_web.html">
                <article class="project-card">
                     <img class="project-card__image" 
                         src="/static/img/cocktail.jpg" 
                         alt=" hero image"
                     />
                     <header class="project-card__meta">
                         <ul class="categories">
                             
                                 <li class="categories__tag"></li>
                             
                         </ul>
 
                         <h2 class="project-card__name"></h2>
                     </header>
                </article> 
             </a>
        
    </section>
</main>
{% endblock %}